################################################################################
#>> This file is managed by Ansible - changes made here will be overwritten. <<#
################################################################################
{% if array.snapraid_sync.sync_schedule is defined %}
# SnapRAID sync schedule
{{ array.snapraid_sync.sync_schedule }} root NONINTERACTIVE='true' {{ snapraid_sync_script_dir }}/snapraid_sync_entrypoint-{{array.name}}.sh > /dev/null
{% endif %}
{% if array.snapraid_sync.scrub_schedule is defined %}
# SnapRAID scrub schedule
{{ array.snapraid_sync.scrub_schedule }} root NONINTERACTIVE='true' {{ snapraid_sync_script_dir }}/snapraid_sync_entrypoint-{{array.name}}.sh scrub > /dev/null
{% endif %}
