#!/bin/bash
################################################################################
#>> This file is managed by Ansible - changes made here will be overwritten. <<#
################################################################################

CONFIG_FILE='{{ array.conf_dir }}/snapraid_{{ array.name }}.conf' \
LOG_FILE="{{ snapraid_sync_log_dir }}/{{ array.name }}.log" \
NONINTERACTIVE="${NONINTERACTIVE:-false}" \
{% if snapraid_sync_email_address is defined %}
EMAIL_ADDRESS='{{ snapraid_sync_email_address }}' \
{% endif %}
{% if snapraid_sync_email_subject_prefix is defined %}
EMAIL_SUBJECT_PREFIX="{{ snapraid_sync_email_subject_prefix }}" \
{% endif %}
{% if array.snapraid_sync.delete_threshold is defined %}
DELETE_THRESHOLD='{{ array.snapraid_sync.delete_threshold }}' \
{% endif %}
{% if array.snapraid_sync.update_threshold is defined %}
UPDATE_THRESHOLD='{{ array.snapraid_sync.update_threshold }}' \
{% endif %}
{% if array.snapraid_sync.scrub_percent is defined %}
SCRUB_PERCENT='{{ array.snapraid_sync.scrub_percent }}' \
{% endif %}
{% if array.snapraid_sync.scrub_age is defined %}
SCRUB_AGE='{{ array.snapraid_sync.scrub_age }}' \
{% endif %}
{% if array.snapraid_sync.attach_log is defined %}
MAIL_ATTACH_LOG='{{ array.snapraid_sync.attach_log }}' \
{% endif %}
{% if snapraid_sync_mail_bin is defined %}
MAIL_BIN="{{ snapraid_sync_mail_bin }}" \
{% endif %}
{{ snapraid_sync_script_dir }}/snapraid_sync.sh "$@"
